@font-face {
  font-family: "Passion One";
  src: url(/assets/resources/fonts/Passion_One/PassionOne-Bold.ttf) format("truetype"), url(/assets/resources/fonts/Passion_One/PassionOne-Regular.ttf) format("truetype");
}

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#dropdown1 {
  top: 64px !important;
}