@font-face {
  font-family: "Passion One";
  src: url(assets/resources/fonts/Passion_One/PassionOne-Bold.ttf) format("truetype"), url(assets/resources/fonts/Passion_One/PassionOne-Regular.ttf) format("truetype");
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.full-screen {
  flex-grow: 1;
}

video {
  width: 100%;
  height: auto;
}

canvas {
  display: none;
}

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#dropdown1 {
  top: 60px !important;
}

.bg-search {
  height: 70px;
  border-radius: 50px;
  background-color: #D9D9D9;
}